<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0" metadata-complete="true">

<servlet>
		<servlet-name>staffList</servlet-name>
		<servlet-class>bms.staff.controller.StaffListServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>staffList</servlet-name>
		<url-pattern>/StaffListServlet</url-pattern>
</servlet-mapping>
	
<servlet>
		<servlet-name>staffSearch</servlet-name>
		<servlet-class>bms.staff.controller.StaffSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>staffSearch</servlet-name>
		<url-pattern>/staffsearch</url-pattern>
</servlet-mapping>
  
</web-app>
